{% extends 'myadmin/index.html' %}
{% block title %}
<title>管理组列表</title>
{% endblock %}

{% block con %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-user page-header-heading-icon"></span> 
                管理组列表
            </div>
        </div>
        <div class="am-u-lg-3 tpl-index-settings-button">
            <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
        </div>
    </div>
</div>

<div class="row-content am-cf"> 
   <div class="row"> 
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title  am-cf">管理组列表</div>


            </div>
            <div class="widget-body  am-fr">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-form-group">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a href="{% url 'myadmin_auth_groupadd' %}" class="am-btn am-btn-default am-btn-success">
                                    <span class="am-icon-plus"></span> 新增
                                </a>
                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                        </div>
                    </div>
                </div>

            <form>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                    <div class="am-form-group tpl-table-list-select">
                        <select name="types" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                            <option {% if request.GET.types == 'username' %} selected {% endif %} value="username">用户名</option>
                            <option {% if request.GET.types == 'phone' %} selected {% endif %} value="phone">手机号</option>
                            <option {% if request.GET.types == 'age' %} selected {% endif %} value="age">年龄</option>
                            <option {% if request.GET.types == 'sex' %} selected {% endif %} value="sex">性别</option>
                            <option {% if request.GET.types == 'status' %} selected {% endif %} value="status">状态</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                        <input value="{{ request.GET.keywords }}" name="keywords" type="text" class="am-form-field ">
                        <span class="am-input-group-btn">
                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                        </span>
                    </div>
                </div>
            </form>


                <div class="am-u-sm-12">
                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>组名</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in grouplist %}
                            <tr>
                                <td class="am-text-middle">{{ v.id }}</td>
                                <td class="am-text-middle">{{ v.name }}</td>
                                <td class="am-text-middle">
                                    <div class="tpl-table-black-operation">
                                        <a href="{% url 'myadmin_auth_groupedit' %}?gid={{ v.id }}">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a uid="{{ v.id }}" href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- more data -->
                        </tbody>
                    </table>
                </div>
                <div class="am-u-lg-12 am-cf">

                    <div class="am-fr">
                        <ul class="am-pagination tpl-pagination">
                  
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div> 
</div>


{% endblock %}