{% extends 'myadmin/index.html' %}
{% block content %}
<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">用户</a>
							</li>
							<li class="active">添加</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								用户
								<small>
									<i class="icon-double-angle-right"></i>
									 添加
								</small>
							</h1>
						</div><!-- /.page-header -->

                        <div class="page-content">

<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="hr hr-18 hr-double dotted"></div>

								<div class="row-fluid">
									<div class="span12">
										<div class="widget-box">

                                            <hr>
                                            <div class="step-content row-fluid position-relative" id="step-container">
                                                <div class="step-pane active" id="step1">


                                                    <form action="" class="form-horizontal" id="validation-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" >用户名:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div class="clearfix">
                                                                    <input type="text" name="username" id="username" class="col-xs-12 col-sm-6">
                                                                </div><div for="username" class="help-block">请输入用户名</div>
                                                            </div>
                                                        </div>

                                                        <div class="space-2"></div>

                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password">密码:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div class="clearfix">
                                                                    <input type="password" name="password" id="password" class="col-xs-12 col-sm-4">
                                                                </div><div for="password" class="help-block">请输入密码.</div>
                                                            </div>
                                                        </div>

                                                                                                                <div class="space-2"></div>

                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">手机号:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="icon-phone"></i>
                                                                    </span>

                                                                    <input type="text" id="phone" name="phone">
                                                                </div><div for="phone" class="help-block">请输入手机号.</div>
                                                            </div>
                                                        </div>

                                                        <div class="space-2"></div>

                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" >邮箱:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div class="clearfix">
                                                                    <input type="email" name="email" id="email" class="col-xs-12 col-sm-4">
                                                                </div><div for="email" class="help-block">请输入邮箱.</div>
                                                            </div>
                                                        </div>

                                                        <div class="hr hr-dotted"></div>

                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" >年龄:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div class="clearfix">
                                                                    <input type="text" id="age" name="age" class="col-xs-12 col-sm-5">
                                                                </div><div for="age" class="help-block">This field is required.</div>
                                                            </div>
                                                        </div>


                                                        <div class="space-2"></div>

                                                        <div class="form-group has-info">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">性别</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                                <div>
                                                                    <label class="blue">
                                                                        <input name="sex" value="1" type="radio" checked class="ace valid">
                                                                        <span class="lbl"> 男</span>
                                                                    </label>
                                                                </div>

                                                                <div>
                                                                    <label class="blue">
                                                                        <input name="sex" value="0" type="radio" class="ace valid">
                                                                        <span class="lbl"> 女</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-2"></div>

                                                        <div class="form-group has-error">
                                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" >头像:</label>

                                                            <div class="col-xs-12 col-sm-9">
                                                               <div class="row">
										<div class="col-sm-4">
											<div class="widget-box">
												<div class="widget-header">
													<h4>上传头像</h4>
												</div>


												<div class="widget-body">
													<div class="widget-main">
														<input multiple="" type="file" name="pic" id="id-input-file-3" />
													</div>
												</div>
												</div>
											</div>
										</div>
                                                            </div>
                                                        </div>

                                                        <div class="hr hr-dotted"></div>

                                                        <div class="hr hr-dotted"></div>

                                                        <div class="space-2"></div>

                                                        <div class="space-8"></div>
                                                        <div class="row-fluid wizard-actions">

										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												返回
											</button>
										</div>
									</div>

                                                    </form>
                                                </div>
                                            </div>

                                            <hr>

										</div>
									</div>
								</div>

										</div>
									</div>
								</div><!-- PAGE CONTENT ENDS -->
</div>

{% endblock %}