{% extends 'myadmin/index.html' %}
{% block title %}
<title>会员列表</title>
{% endblock %}

{% block con %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-user page-header-heading-icon"></span> 
                会员列表
            </div>
        </div>
        <div class="am-u-lg-3 tpl-index-settings-button">
            <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
        </div>
    </div>
</div>

<div class="row-content am-cf"> 
   <div class="row"> 
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title  am-cf">会员列表</div>


            </div>
            <div class="widget-body  am-fr">

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-form-group">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">

                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select name="types" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                <option value="oid">订单号</option>
                                <option value="username">买家</option>
                                <option value="static">状态</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input name="keywords" type="text" class="am-form-field ">
                            <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="am-u-sm-12">
                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                        <thead>
                            <tr>
                                <th>订单号</th>
                                <th>买家</th>
                                <th>订单总价</th>
                                <th>订单状态</th>
                                <th>下单时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in data %}
                            <tr>
                                <td class="am-text-middle">{{ v.id }}</td>
                                <td class="am-text-middle">{{ v.uid.username }}</td>
                                <td class="am-text-middle">{{ v.totalprice }}</td>
                                <td class="am-text-middle">
                                    <select name="status" class="status" oid="{{ v.id }}" style="color: black">
                                        <option value="0" {% if v.status == 0 %} selected {% endif %}>未支付</option>
                                        <option value="1" {% if v.status == 1 %} selected {% endif %}>已支付</option>
                                        <option value="2" {% if v.status == 2 %} selected {% endif %}>已发货</option>
                                        <option value="3" {% if v.status == 3 %} selected {% endif %}>已收货</option>
                                        <option value="4" {% if v.status == 4 %} selected {% endif %}>已取消</option>
                                    </select>
                                </td>
                                <td class="am-text-middle">{{ v.addtime|date:'Y-m-d H:i:s' }}</td>
                                <td class="am-text-middle">
                                    <div class="tpl-table-black-operation">
                                         <button type="button" oid="{{v.id}}"  class="am-btn am-btn-primary js-modal-open">查看详情</button>
                                            <div class="am-modal am-modal-no-btn your-modal" tabindex="-1">
                                              <div class="am-modal-dialog data1" style="width:600px;">

                                              </div>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- more data -->
                        </tbody>
                    </table>
                </div>
                <div class="am-u-lg-12 am-cf">

                    <div class="am-fr">
                        <ul class="am-pagination tpl-pagination">
                            <!--<li class="am-active"><a href="#">1</a></li>-->
                            {% load pagetag %}
                            {% ShowPages data.paginator.num_pages request %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
<script type="text/javascript">
  $(function() {
    var $modal = $('.your-modal');

    $modal.siblings('.am-btn').on('click', function(e) {
      var $target = $(e.target);
      var oid = $(this).attr('oid');
      var str = '';
      if (($target).hasClass('js-modal-open')) {

          $.get("{% url 'myadmin_orders_ordersinfo' %}",{'oid':oid},function(data){

                str += '<h1 style="color:black;">购买详情</h1><table style="color: black;border: 1px;" width="600px;" align="center"><tr><td>商品id</td><td>商品名称</td><td>商品图片</td><td>购买数量</td><td>单价</td><td>小计</td></tr>';

                for ( i in data.orderlist){
                    //小计的计算
                    num = data.orderlist[i]["num"];
                    price = data.orderlist[i]["goodsprice"];
                    sum = price*num
                    //拼接模态框内容
                    str+='<tr><td>'+data.orderlist[i]["id"]+'</td><td>'+data.orderlist[i]["goodsname"]+'</td><td><img src="'+data.orderlist[i]["goodspic"]+'" style="width: 50px" class="tpl-table-line-img" alt=""></td><td>'+data.orderlist[i]["num"]+'</td><td>'+data.orderlist[i]["goodsprice"]+'</td><td>'+sum+'</td></tr>';
                }

                str += '</table>';
              $('.data1').html(str);

          },'json')
        $modal.modal();
      }
    });


    $('.status').change(function(){
        var oid = $(this).attr('oid')
        var status = $(this).val()
        console.log(status)

        $.get('{% url "myadmin_orders_orderstatus" %}',{'oid':oid,'status':status},function(data){
            alert(data['msg']);
        },'json')
    })
  });
</script>
{% endblock %}